//colors of the project
//primary
$primary-darkness: #151619;
$primary-dark: #1d1f22;
$primary-normal: #2b2d31;
$primary-light: #35393F;
// secondary
$secondary-darkness: #5a6069;
$secondary-dark: #7c8187;
$secondary-normal: #c1c4cb;
$secondary-light: #e4e4e4;
// auxiliary
$auxiliary-primary: #f5f5f5;
$auxiliary-secondary: #FFF;
$auxiliary-tertiary: #e46643;
$auxiliary-quaternary: #f39765;