body {
    // overflow: hidden;
}

.grid-wrapper {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-areas: 'header' 'editor';
    .header {
        grid-area: header;
    }
    .sidebar {
        grid-area: aside;
        display: none
    }
    .editor {
        grid-area: editor;
    }
    &.menu-active {
        .sidebar {
            display: flex;
        }
        grid-template-columns: 250px 1fr;
        grid-template-areas: 'aside header' 'aside editor';
        .menu-icon {
            .menu-open {
                display: none;
            }
            .menu-close {
                display: block;
            }
        }
        .save-btn,
        .delete-btn {
            display: none;
        }
    }
}

// HEADER
.header {
    background-color: $primary-normal;
    padding: 22px;
    position: relative;
    .menu-btn {
        background-color: $primary-light;
        display: block;
        position: absolute;
        inset: 0;
        cursor: pointer;
        width: 72px;
        transition: .3s ease;
        &:hover {
            background-color: $auxiliary-quaternary
        }
    }
}

.header-item {
    .menu-icon {
        display: block;
        z-index: 999;
        pointer-events: none;
        margin-right: 32px;
        .menu-close {
            display: none;
        }
    }
}

.document {
    &::before {
        content: "";
        align-self: stretch;
        width: 1px;
        background-color: $secondary-darkness;
        margin-left: 24px;
        margin-right: 24px;
        display: inline-block;
    }
    .document-icon {
        margin-right: 16px;
    }
}

.document-info {
    flex-grow: 1;
    max-width: 400px;
    width: 100%;
    max-height: 36px;
    .document-filename {
        color: $white;
        display: block;
        border: none;
        caret-color: $auxiliary-quaternary;
        background: transparent;
        padding: 0 0 5px 0;
        width: 100%;
        position: relative;
        &:focus,
        &:active {
            outline: none;
            border: none;
            border-bottom: 1px solid $white;
        }
    }
}

.document-name,
.document-filename,
.document-date {
    @include typeface-regular(15)
}

.document-name {
    color: $secondary-dark;
    font-weight: lighter;
    display: block;
    margin-bottom: 4px;
}

.document-actions {
    .save-btn {
        margin-left: 16px;
    }
}

// MAIN CONTENT - EDITOR
.editor {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 50vw;
    grid-template-rows: 1fr;
    align-content: start;
    background-color: $primary-darkness;
    &.preview-mode {
        grid-template-columns: 1fr;
        .editor-content {
            display: none;
        }
    }
}

.editor-content {
    min-height: 100%;
}

.editor-content,
.editor-preview {
    overflow-y: hidden;
}

.editor-heading {
    padding: 8px 0;
    height: 42px;
    background-color: $primary-dark;
    // position: sticky;
    // inset: 0;
    .markdown-toggle {
        margin-right: 16px;
    }
    input[type="checkbox"]:checked+.slider {
        background-color: green;
    }
    .editor-title {
        @include typeface-regular(13);
        margin-left: 16px;
        text-transform: uppercase;
        color: $secondary-normal;
    }
}

.border-right {
    border-right: 1px solid $secondary-darkness;
}

textarea.markdown-content {
    width: 100%;
    height: 100%;
    outline: none;
    background-color: inherit;
    resize: none;
    border: none;
    border-right: 1px solid $secondary-darkness;
    color: $secondary-normal;
    padding: 8px;
    @include typeface-paragraph()
}

div.markdown-preview {
    min-height: 100%;
    width: 100%;
    overflow-y: scroll;
    padding: 8px;
}

// sidebar
.sidebar {
    background-color: $primary-dark;
    padding: 16px;
    position: relative;
    .sidebar-title {
        @include typeface-regular(15);
        color: $secondary-dark;
        text-transform: uppercase;
        margin-bottom: 32px;
    }
    .new-btn {
        margin-bottom: 24px;
    }
    .fixed-container {
        position: fixed;
        height: 100%;
    }
}

.documents-list {
    li.document-item {
        display: flex;
        align-items: center;
        margin-bottom: 24px;
        img {
            margin-right: 16px;
        }
        .document-details {
            span {
                display: block;
            }
            .document-date {
                color: $secondary-dark;
            }
            .document-filename {
                color: $white;
                cursor: pointer;
                transition: .3s ease;
                &:hover {
                    color: $auxiliary-tertiary;
                }
            }
        }
    }
}

// PREVIEW
.markdown-preview {
    color: $white;
    p {
        @include typeface-paragraph();
        color: $secondary-normal;
    }
    h1 {
        @include typeface-slab(32);
    }
    h2 {
        @include typeface-slab(28);
    }
    h3 {
        @include typeface-slab(24);
    }
    h4 {
        @include typeface-slab(20);
    }
    h5 {
        @include typeface-slab(16);
    }
    h6 {
        color: $auxiliary-tertiary !important;
        @include typeface-slab(14);
    }
    strong,
    b {
        color: $secondary-normal;
        @include typeface-paragraph(1);
    }
}