.modal-overlay {
    background-color: rgba($secondary-dark, .3);
    inset: 0;
    position: absolute;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    &.is-active {
        opacity: 1;
        pointer-events: all;
    }
}

.modal-content {
    display: flex;
    flex-direction: column;
    max-width: 348px;
    padding: 24px;
    background-color: $primary-dark;
    border-radius: 4px;
    .modal-title {
        @include typeface-slab(20);
        color: $white;
    }
    .modal-message {
        @include typeface-slab(14);
        color: $secondary-normal;
        font-weight: lighter;
        margin-top: 32px;
        margin-bottom: 24px;
    }
}